{{ define "main" }}

<!--{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}-->

<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('/img/banner1.jpg')">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6">
          Schedule
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        
      </div>
    </div>
  </div>
</div>


<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.values }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block-reverse" $element }}
    {{ end }}
  {{ end }}

</div>

{{ end }}
